label{
    background-color: powderblue;
    margin: 10px,10px,10px,10px;
    padding-left: 10px;
}

article{
  border-top: black 5px dashed;
  border-bottom: blue 10px dotted;
  border-left: red 5px solid;
  padding: 3px 10px;
  border-radius: 20px;
}
a{
  border-top: black 5px dashed;
  border-bottom: yellowgreen 10px dotted;
  border-left: pink 5px solid;
  padding: 3px 10px;
  border-radius: 20px;
}


